<!DOCTYPE html>
<html lang="sv">
  <head>
    {% comment %} Meta data {% endcomment %}
    <title>Uddebo kalendern</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% comment %} Stylesheets {% endcomment %}
    <style>
    :root {
      --page-width: {{width}}px;
      --page-height: {{height}}px;
      --page-color: rgb(235, 215, 171);
    }
    </style>
    <link href="/calendar.css" rel="stylesheet" />
    <link href="/cleancalendar.css" rel="stylesheet" />
    {% comment %} Scripts {% endcomment %}
    <script src="/lib/fullcalendar.6.1.10.js"></script>
    <script src="/lib/background-color-theif.js"></script>
    <script src="/calendar.js"></script>
  </head>
  <body>
    <article id="article">
      <div id="content">
        <div id="calendar"></div>
        <div id="footer"></div>
      </div>
    </article>
    <script>
      // Input Data
      const events = {{events}};
      const month = "{{month}}";
      const footerText = `{{footerText}}`;
      console.log(footerText);
      
      render(events, month, footerText, { image: false });
    </script>
  </body>
</html>
